.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }

    .dark-mode-boton {
        width: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        filter: invert(100%); // Invierte el color que tiene aplicado

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            margin-top: 0;
        }
    }
}

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    @include tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion{
    //display: none; // La propiedad CSS display: none; se utiliza para ocultar un elemento HTML de la página web
    visibility: hidden;
    opacity: 0; // La propiedad CSS opacity controla el nivel de opacidad de un elemento HTML. Esta propiedad acepta valores entre 0 y 1, donde 0 significa completamente transparente y 1 significa completamente opaco. 
    height: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear, height .5s linear;

    @include tablet{
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet{
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}


/** Menú de hamburguesa **/
.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
    visibility: visible; //visibility visible y visibility hidden permiten animar mientras que display block y display none no lo permite
    opacity: 1;
    height: auto;
}